.form-data {
  width: 350px;
}

.form-data .base-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.form-data .base-input span {
  font-size: 0.9rem;
}

.form-data .base-input input {
  width: 100%;
  font-size: 0.9rem;
  border: transparent;
  border-radius: 5px;
  outline: none;
  padding-left: 12px;
}